body {
  box-sizing: border-box;
}
.main-div {
  width: 608px;
  height: 608px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  /*width: 200px;*/
  width: 200px;
  height: 200px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}
.orange {
  background-color: orange;
}
.violet {
  background-color: violet;
}
.gray {
  background-color: gray;
}
.pink {
  background-color: pink;
}
/*kółka*/

.circle {
  border: 1px solid black;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}
